@model IEnumerable<Domain.entities.Pack>

@{
    ViewBag.Title = "AffichagePack";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>AffichagePack</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrixTotaleProduitorig)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NouveauPrixTotaleProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PourcentageDeReduction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtDeProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrixTotaleProduitorig)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NouveauPrixTotaleProduit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PourcentageDeReduction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtDeProduit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDebut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPackProduit }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPackProduit }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPackProduit })
        </td>
    </tr>
}

</table>
