@model IEnumerable<Domain.entities.Offre>

@{
    ViewBag.Title = "Affichage";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<h2>Affichage</h2>
<div id="page-content">

    <div class="header-page-title clearfix">
        <div class="title-overlay"></div>
        <div class="container">
            <div class="title-breadcrumb clearfix">
                <h1>Les offres par produit</h1>

              
                </div> <!-- end .title-breadcrumb -->
        </div> <!-- end .container -->
    </div> <!-- end .header-page-title -->

    <div class="index-page-search-content">


        <div class="container">
            <h2>Index</h2>

             <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            @foreach (var item in Model)
            {

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="agent-single">
                        <img src="@Url.Content("img/content/agent-img-1.jpg")" alt="">

                        <ul>
                            <li><span class="title">Name Product:</span><span class="title-des text-capitalize">@Html.DisplayFor(modelItem => item.Produit.Name)</span></li>
                            <li><span class="title">New Price:</span><span class="title-des"> @Html.DisplayFor(modelItem => item.NouveauPrix) </span></li>
                            <li><span class="title">Old Price:</span><span class="title-des">@Html.DisplayFor(modelItem => item.Produit.Prix)</span></li>

                        </ul>

                        <div class="view-profile">
                            @Html.ActionLink("More Details", "Details", new { id = item.IdOffresProduit }) 

                           
                        </div>
                    </div> <!-- end .agent-single  -->
                </div> <!-- end grid layout  -->
            </div>
            }









        </div>
    </div>
</div>
