@model Domain.entities.Pack

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pack</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdPackProduit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdPackProduit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixTotaleProduitorig)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixTotaleProduitorig)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NouveauPrixTotaleProduit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NouveauPrixTotaleProduit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PourcentageDeReduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PourcentageDeReduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtDeProduit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtDeProduit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
